<section class="w-full flex items-center justify-center mt-5">
  <div class="md:flex flex-wrap items-center justify-center">
    <div class="w-44 h-44 group cursor-pointer">
      <img
        src="assets/raad.png"
        class="w-full h-full grayscale group-hover:grayscale-0 transition-all object-contain"
        alt=""
      />
    </div>
    <div class="w-44 h-44 group cursor-pointer">
      <img
        src="assets/bme.png"
        class="w-full h-full grayscale group-hover:grayscale-0 transition-all object-contain"
        alt=""
      />
    </div>
    <div class="w-44 h-44 group cursor-pointer">
      <img
        src="assets/bmesuper.png"
        class="w-full h-full grayscale group-hover:grayscale-0 transition-all object-contain"
        alt=""
      />
    </div>
    <div class="w-44 h-44 group cursor-pointer">
      <img
        src="assets/we.png"
        class="w-full h-full grayscale group-hover:grayscale-0 transition-all"
        alt=""
      />
    </div>
    <div class="w-44 h-44 group cursor-pointer">
      <img
        src="assets/ae.png"
        class="w-full h-full grayscale group-hover:grayscale-0 transition-all object-contain"
        alt=""
      />
    </div>
  </div>
</section>
