<div
  class="w-full max-w-7xl mx-auto px-4 my-20"
  *ngIf="project; else elseClause"
>
  <div *ngIf="!project.link.includes('embed')">
    <video
      *ngFor="let link of project.link.split(' ')"
      loop
      muted
      controls
      class="w-full aspect-video"
    >
      <source [src]="link" type="video/mp4" />
    </video>
  </div>
  <div class="" *ngIf="project.link.includes('embed')">
    <iframe
      [src]="project.link | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-video"
    ></iframe>
  </div>
  <div id="info" class="my-4">
    <span class="text-yellow-400">{{ project.employer }}</span>
    <h1 id="page-title">{{ project.title }}</h1>
    <div
      id="technologies"
      class="border-t mt-4 py-4 border-mainBlue/50 space-y-2"
    >
      <h2>Programs used:</h2>
      <div class="flex items-center">
        <img
          *ngFor="let tech of project.programs"
          [src]="'assets/' + tech + '.png'"
          class="w-16 h-16 object-contain"
        />
      </div>
    </div>
    <div id="project-descriptions">
      <p>{{ project.description }}</p>
    </div>
  </div>
</div>
<ng-template #elseClause>
  <div
    class="w-full max-w-7xl mx-auto px-4 my-20 h-screen flex items-center justify-center"
  >
    <div
      class="w-1/2 aspect-square border-t border-mainBlue animate-spin rounded-full"
    ></div>
  </div>
</ng-template>
