<div
  class="w-full max-w-5xl mx-auto px-4 my-20"
  *ngIf="!fetching; else elseClause"
  [@fadeIn]="!fetching"
>
  <div
    *ngIf="!project.link.includes('embed')"
    class="rounded-lg overflow-hidden relative"
  >
    <div
      class="w-full aspect-video bg-gray-300 animate-pulse absolute -z-10"
    ></div>
    <video
      *ngFor="let video of project.video"
      loop
      muted
      controls
      class="w-full aspect-video"
    >
      <source [src]="'https:' + video.fields.file.url" type="video/mp4" />
    </video>
  </div>
  <div
    class="rounded-lg overflow-hidden relative"
    *ngIf="project.link.includes('embed')"
  >
    <div
      class="w-full aspect-video bg-gray-300 animate-pulse absolute -z-10"
    ></div>
    <iframe
      [src]="project.link | safe"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-video"
    ></iframe>
  </div>
  <div id="info" class="my-4">
    <span class="text-yellow-400">{{ project.employer }}</span>
    <h1 id="page-title">{{ project.title }}</h1>
    <div
      id="technologies"
      class="border-t mt-4 py-4 border-mainBlue/50 space-y-2"
    >
      <h2>Programs used:</h2>
      <div class="flex items-center gap-2">
        <img
          *ngFor="let tech of project.programs"
          [src]="'assets/' + tech + '.png'"
          class="w-16 h-16 object-contain"
        />
      </div>
    </div>
    <div id="project-descriptions">
      <p>{{ project.description }}</p>
    </div>
  </div>
  <div id="random" *ngIf="random" class="border-t mt-4 py-4 border-mainBlue/50">
    <a [routerLink]="'/work/' + randId">
      <div class="md:flex">
        <div class="md:w-1/2 space-y-4">
          <h3 class="text-xl">Up Next:</h3>
          <div>
            <p class="text-yellow-400">
              {{ random.employer }}
            </p>
            {{ random.title }}
          </div>
        </div>
        <div class="md:w-1/2">
          <img
            [src]="'https:' + random.image.fields.file.url"
            alt=""
            class="w-full aspect-video object-cover"
          />
        </div>
      </div>
    </a>
  </div>
</div>
<ng-template #elseClause>
  <div
    class="w-full max-w-7xl mx-auto px-4 my-20 h-screen flex items-center justify-center"
  >
    <div
      class="w-1/2 aspect-square border-t border-mainBlue animate-spin rounded-full"
    ></div>
  </div>
</ng-template>
