@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Druk;
  src: url(./assets/Druk-Wide-Cy-Web-Medium-Regular.ttf);
}
@font-face {
  font-family: praktika;
  src: url(./assets/Praktika-Light.otf);
}

body {
  background-color: black;
  color: white;
  font-family: "Druk";
}
.font-montserrat {
  font-family: "praktika", sans-serif;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}
