@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Druk;
  src: url(./assets/Druk-Wide-Cy-Web-Medium-Regular.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: "Druk";
}
